/* html{
    font-family: 'Montserrat', sans-serif;
} */
body{
    font-size: 1em;
    overflow-x: hidden;

}
h1,h2,h3,h4,h5,h6,a,p{
    font-family: "Montserrat";
}
.mainbackgroun{
    /* background-image: url(); */
    width: 100vw;
    height: 65vh;
    background-image: url(https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center; */
    /* text-align: center; */
    transition: all .5s;

}
/* @media only screen and (max-width: 200px) {
    body {
      background-color: rgb(226, 224, 224);
    }
  } */
h1{
    font-size: 5em;
}

.maincard{
    text-align: center;

}
.colorho:hover{
    background-image: url(https://images.pexels.com/photos/450055/pexels-photo-450055.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    color: white;

}

.colorho:hover nav .container-fluid *{
    color:white;
}
.thirdpage{
    width: 100vw;
    display: flex;
}
.aboutme{
    /* background-color: white; */
    width: 50vw;
    text-align: center;
}
.team{
    /* background-color: white; */
    width: 50vw;
    text-align: center;
}
.portfolio{
    background-color: white;
    width: 100vw;
    text-align: center;
}
.portcard{
    margin-top: 3rem;
}
.porth2{
    font-size: 3em;
}
.porth3{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.portprojects2{
    margin-bottom: 3rem;
}
.textaboutme{
    width: 60%;
    margin-top: 4rem;
}
.aboutmediv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog{
    width: 100vw;
    text-align: center;
    /* background-color: white; */
}
.blogh2{
    
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.teamh2{
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.abouth2{
    margin-top: 5rem;
    margin-bottom: 3rem;
}
footer{
    width: 100vw;
    background-image: url(https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    text-align: center;
    transition: all .5s;

}
.footerh4{
    margin-top: 1rem;
}
.icons a i{
    color: black;
}
.hoverfoo:hover{
    background-image: url(https://images.pexels.com/photos/450055/pexels-photo-450055.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    color: white;
}
.hoverfoo:hover .icons a i {
    color: white;
}
.thirdpage{
    /* background-image: url(https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat; */
}