.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color:rgb(14, 207, 79);
  color: white;
  min-width: -webkit-fill-available;
}
.father{
  display: inline-flex;
}
.nav-links{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.task{
  background-color: red;
  list-style: none;
}
.tasktwo{
  background-color: yellow;
  list-style: none;
}
.taskthree{
  background-color: rgb(14, 207, 79);
  list-style: none;
}
ul{
  padding: 0 20px;
}
li{
  padding: 8px;
  margin: 3px;
  width: auto;
  list-style: none;
}
.columnOne{
  width: 30vw;
  border: 2px solid red;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 3px 3px red;
}
.columnTwo{
  width: 30vw;
  border: 2px solid yellow;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 3px 3px yellow;
}
.columnThree{
  width: 30vw;
  border: 2px solid rgb(14, 207, 79);
  border-radius: 8px;
  margin: 10px;
  box-shadow: 3px 3px rgb(14, 207, 79);
}